@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  #__next {
    width: 100%;
  }
  #header {
    width: 100%;
  }
  html,
  body {
    scroll-behavior: smooth;
  }
  h1 {
    font-weight: bold;
    font-size: xx-large;
  }
  h2 {
    font-weight: bold;
    font-size: x-large;
    text-decoration: underline #5bcefa 2px;
    text-underline-offset: 4px;
  }
  textarea {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    padding: 1px;
    width: 25em;
    height: 5em;
  }
  div {
    display: block;
  }
  .anchor {
    scroll-margin-top: 150px;
  }

  div .question {
    margin-bottom: 20px;
  }
  .header > * {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .nav-links li {
    display: inline-block;
    margin: 0 15px;
  }
  .nav-links li a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
  }
  .nav-links li a::after {
    content: "";
    background: black;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
  }
  .nav-links li a:hover::after {
    width: 100%;
  }

  .question > label {
    padding-right: 15px;
  }
  div > input {
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
  }
  .mobile {
    display: none;
  }
  .medication {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  .medication td, .medication th {
    padding-left: 10px;
    padding-right: 10px;
  }
  .medication tbody td input:hover {
    background-color: #eee;
  }
  .medication th {
    text-align: left;
  }

  @media screen and (max-width: 920px) {
    .nav-links li {
      display: block;
      font-size: 14px;
    }
  }
  @media screen and (max-width: 720px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }

  @media (max-width:720px) {
    .form *:not(h1, h2) {
      font-size: 14px;
    }
    table {
      position: relative; /* necessary to keep header visible for scroll */
      width: 100vh
    }
    thead, tbody {
      vertical-align: top;
    }
    thead, tbody, tr {
      display: table-cell;
    }
    thead {
      width: 110px;
    }
    tbody {
      /* necessary to keep header visible on left for scroll */
      position: absolute;
      left: 110px; /*based on the width of the 'thead' for offset*/
      width: 250px; /* how much to show horizontally before scroll */
      overflow-x: scroll;
    }
    th, td {
      display: block;
      width: 100px;
      height: 50px;
      padding: 10px 0;
    }
    .desktopOnly {
      display: none;
    }
  }
}
